data/datasets/classifications/fold_*
data/datasets/classifications/test/
data/datasets/keypoints/fold_*
fotos_anotadas/
fotos_classificar/
outputs/
.env
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Modelos YOLO grandes
models/yolo/*.pt
